.screen-overlay-loader {
    width: 100%;
    height: 100vh;
    display: grid;
    place-items: center;
    position: fixed;
    top: 0;
    left: 0;

   .overlay {
     position: fixed;
     pointer-events: none;
     width: 100%;
     height: 100vh;
     background: black;
     top: 0;
     left: 0;
     z-index: 100;
   }
  
    @keyframes spinner {
      0% {
        transform: rotate(0deg);
      }
      100% {
        transform: rotate(360deg);
      }
    }
    .loading-spinner {
      display: inline-block;
      width: 50px;
      height: 50px;
      border: 10px solid #f3f3f3; /* Light grey */
      border-top: 10px solid #383636; /* Black */
      border-radius: 50%;
      animation: spinner 1.5s linear infinite;
      z-index: 101;
    }
  }