.find-partner {
    padding-top: 90px;
    padding-left: 40px;
    padding-right: 40px;
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 40px;

    .find-partner-filter {
        width: 350px;
        height: max-content;
        min-height: 100vh;
        background: white;
        box-shadow: 0 0 20px rgba(0,0,0,0.1);
        padding: 30px 30px;
        border-radius: 20px;

        .categories {
            h2 {
                margin-bottom: 15px;
            }
            select {
                margin-bottom: 25px;
                padding: 7px 15px;
                width: calc(100% - 60px);
                font-size: 16px;
            }
        }

        .checkbox-container {
            h2 {
                margin-bottom: 15px;
            }
            .checkbox {
                margin-bottom: 4px;
        
                input[type="checkbox"] {
                  margin-right: 10px;
                  font-size: 18px;
                  width: 18px;
                  height: 18px;
                  cursor: pointer;
                }
        
                label {
                  position: absolute;
                  height: 30px;
                  vertical-align: text-top;
                  cursor: pointer;
                }
              }
        }

        .similar-skills {
            display: flex;
            align-items: center;
            margin-top: 10px;

            h2 {
                margin-right: 20px;
                font-size: 19px;
                font-weight: 600;
            }

            .switch {
                position: relative;
                display: inline-block;
                width: 60px;
                height: 30px;
              }
              
              /* Hide default HTML checkbox */
              .switch input {
                opacity: 0;
                width: 0;
                height: 0;
              }
              
              /* The slider */
              .slider {
                position: absolute;
                cursor: pointer;
                top: 0;
                left: 0;
                right: 0;
                bottom: 0;
                background-color: #ccc;
                -webkit-transition: .4s;
                transition: .4s;
              }
              
              .slider:before {
                position: absolute;
                content: "";
                height: 22px;
                width: 22px;
                left: 4px;
                bottom: 4px;
                background-color: white;
                -webkit-transition: .4s;
                transition: .4s;
              }
              
              input:checked + .slider {
                background-color: #2196F3;
              }
              
              input:focus + .slider {
                box-shadow: 0 0 1px #2196F3;
              }
              
              input:checked + .slider:before {
                -webkit-transform: translateX(28px);
                -ms-transform: translateX(28px);
                transform: translateX(28px);
              }
              
              /* Rounded sliders */
              .slider.round {
                border-radius: 34px;
              }
              
              .slider.round:before {
                border-radius: 50%;
              }
        }
    }
    .partner-main-body {
        width: calc(100% - 390px);
        background: white;
        box-shadow: 0 0 20px rgba(0,0,0,0.2);
        margin-left: 30px;
        padding: 20px;
        border-radius: 20px;

        .partner {
            width: calc(100% - 20px);
            background: white;
            box-shadow: 0 0 20px rgba(0,0,0,0.1);
            padding: 20px;
            border-radius: 20px;
            margin-bottom: 20px;

            .top {
                display: flex;
                align-items: center;
                margin-bottom: 10px;
                img{
                    width: 60px;
                    height: 60px;
                    border-radius: 50%;
                }
                .user-name {
                    font-weight: 700;
                    font-size: 25px;
                    margin-left: 20px;
                    color: rgb(33, 69, 33);
                }
            }

            .bottom {
                
                .categories {
                    display: flex;
                    flex-wrap: wrap;
                    align-items: center;
                    margin-bottom: 20px;

                    h2{
                        color: rgb(49, 82, 91);
                        margin-bottom: 4px;
                        font-size: 20px;
                    }
                
                    .category {
                        width: max-content;
                        padding: 7px 10px;
                        background: rgb(19, 46, 19);
                        color: white;
                        border-radius: 10px;
                        margin-left: 20px;
                        margin-bottom: 5px;
                        font-size: 14px;
                    }
                }
                .skills {
                    display: flex;
                    align-items: center;
                    flex-wrap: wrap;

                    h2{
                        color: rgb(54, 114, 131);
                        font-size: 20px;
                    }
                
                    .skill{
                        width: max-content;
                        padding: 7px 10px;
                        background: green;
                        color: white;
                        border-radius: 10px;
                        margin-left: 20px;
                        margin-bottom: 5px;
                        font-size: 14px;
                    }
                }
            }
        }
    }

}