.normal-slider-container {

    .swiper {
        width: 100%;
        height: 100%;
      }
      
      .swiper-slide {
        text-align: center;
        font-size: 18px;
        background: #fff;
        position: relative;
        cursor: pointer;
      
        /* Center slide text vertically */
        display: flex;
        justify-content: center;
        align-items: center;

        &::before {
            content: '';
            position: absolute;
            width: 100%;
            height: 100%;
            border-radius: var(--border-radius-big);
            left: 0;
            top: 0;
            background: black;
            opacity: 0.5;
        }

        .category-name {
            position: absolute;
            color: white;
            font-weight: 600;
        }
      }

    
      
      .swiper-slide img {
        display: block;
        width: 300px;
        height: 200px;
        object-fit: cover;
        border-radius: var(--border-radius-big);
      }
}
  