.chat-main {
  width: 70%;
  padding: 10px;
  padding-right: 20px;
  display: flex;
  flex-direction: column;
  // background: rgb(253, 250, 250);
  // background: url(../../assets/images/lightBg.jpg);
  // background-size: cover;
  // background-repeat: no-repeat;

  .chat-default-section {
    display: grid;
    place-items: center;
    width: 100%;
    height: 100%;

    .robot-container {
      width: 100%;
      .robot {
        width: 100%;
        position: relative;
        transform: translate(25%, -10%);

        img {
          width: 50%;
        }
      }

      .info {
        font-family: "cursive";
        font-size: 22px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

        .line {
          text-transform: capitalize;
          text-align: center;
          line-height: 35px;
          font-weight: 900;
          color: rgb(49, 97, 136);
        }
      }
    }
  }

  .top-container {
    display: flex;
    // border: 2px solid red;
    .user {
      display: flex;
      margin-top: auto;
      margin-bottom: auto;
      .user-img {
        width: 45px;
        height: 45px;
        margin-right: 15px;

        img {
          width: 100%;
          height: 100%;
          border-radius: 50%;
          cursor: pointer;
        }
      }
      .user-info {
        margin-top: auto;
        margin-bottom: auto;
        .user-name {
          font-size: 18px;
          margin-bottom: 5px;
          font-weight: 600;
        }
        .user-status {
          font-size: 14px;
          color: rgb(170, 155, 155);
        }
      }
    }
    .top-menu {
      display: flex;
      margin-left: auto;
      margin-top: auto;
      margin-bottom: auto;
      margin-right: 20px;
      svg {
        margin-right: 20px;
        cursor: pointer;
      }
    }
  }

  .top-container {
    height: 60px;
    // border: 2px solid red;
  }

  .middle-container {
    height: calc(100% - 60px * 2);
    width: 100%;
    // border: 2px solid red;
    display: flex;
    flex-direction: column;
    padding: 10px;
    overflow: auto;

    .message-container {
      max-width: 60%;
      //   border: 2px solid black;
      padding: 10px 20px;
      position: relative;
      border-radius: 20px;
      box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
      margin-bottom: 10px;
      //   .timestamp {
      //       position: absolute;
      //       bottom: 0;
      //       left: 0;
      //   }

      &.sended {
        background: rgb(146, 219, 195);
        margin-left: auto;
      }

      &.recieved {
        background: white;
        margin-right: auto;
      }
    }

    &::-webkit-scrollbar {
      width: 5px;
    }

    &::-webkit-scrollbar-thumb {
      background: rgb(124, 185, 197);
      border-radius: 50px;
    }

    &::-webkit-scrollbar-track {
      background: rgb(233, 231, 231);
      border-radius: 50px;
    }
  }

  .bottom-container {
    height: 60px;
    // border: 2px solid red;
    display: flex;
    align-items: center;
    padding-left: 20px;
    padding-right: 20px;

    svg {
      font-size: 22px;
    }

    .left-btn-container {
      display: flex;

      .attach-file {
        svg {
          cursor: pointer;
        }
      }

      .emoji {
        position: relative;
        cursor: pointer;
        margin-right: 10px;

        svg {
          border-radius: 50%;
          box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.3);
        }

        .emoji-picker-react {
          cursor: default;
          position: absolute;
          top: -350px;

          .emoji-scroll-wrapper {
            &::-webkit-scrollbar {
              width: 5px;
            }

            &::-webkit-scrollbar-thumb {
              background: rgb(124, 185, 197);
              border-radius: 50px;
            }

            &::-webkit-scrollbar-track {
              background: rgb(233, 231, 231);
              border-radius: 50px;
            }
          }
        }
      }
    }

    .input-container {
      display: flex;
      width: 100%;
      justify-content: center;
      align-items: center;
      // border: 2px solid red;

      .message-input {
        width: 100%;
        padding: 12px 20px;
        box-shadow: var(--box-shadow);
        // border: 2px solid red;
        margin-left: 20px;
        margin-right: 20px;
        border-radius: 20px;

        input {
          width: 100%;
          font-size: 16px;
          border: none;
        }
      }

      button {
        background: unset;

        svg {
          font-size: 28px;
          color: rgb(54, 165, 54);
        }
      }
    }
  }
}
