.user-profile-container {
  padding-top: 90px;
  padding-left: 40px;
  padding-right: 40px;

  .user-profile-info {
    margin: 20px 0px;
    width: 100%;
    height: calc(100vh - 130px);
    background: white;
    border-radius: 40px;
    overflow: hidden;
    box-shadow: var(--box-shadow);
    display: flex;
    flex-direction: column;

    .profile-header {
      width: 100%;
      min-height: 140px;
      display: flex;
      padding: 20px 40px;
      align-items: center;
      background: url(../../assets/images/bgIMG.png);
      border-bottom-left-radius: 100px;
      overflow: hidden;

      .profile-banner {
        width: 100%;
        height: 200px;

        img {
          width: 100%;
          height: 100%;
          object-fit: cover;
        }
      }

      .user-img {
        min-width: 120px;
        height: 120px;

        img {
          width: 100%;
          height: 100%;
          border-radius: 50%;
          border: 4px solid white;
          cursor: pointer;
        }
      }

      .user-info {
        margin-left: 40px;

        h1 {
          margin-bottom: 14px;
          color: rgb(85, 116, 126);
        }
      }
    }

    .profile-main {
      display: flex;
      padding: 20px 40px;
      height: calc(100% - 160px);

      .contact-info {
        border-right: 1px solid black;
        max-height: 100%;
        max-width: 400px;
        display: grid;
        place-items: center;

        .contact {
          height: max-content;
          display: flex;
          flex-direction: column;

          .contact-item {
            margin-bottom: 15px;
            padding-right: 20px;
            display: flex;
            // align-items: center;
            i {
              font-size: 23px;
              cursor: pointer;
            }
            div {
              margin-left: 10px;
            }

            &:hover i {
              color: var(--main-color);
            }
          }

          .btn {
            margin-left: auto;
            margin-right: auto;
            margin-top: 60px;
            background: linear-gradient(90deg, #755bea, #ff72c0);
            padding: 10px 20px;
            border-radius: var(--border-radius-big);
            color: white;
            width: max-content;
            height: max-content;
            cursor: pointer;

            a {
              &:hover {
                color: white;
              }
            }

            &:hover {
              background: linear-gradient(90deg, #634fbb, #d863a3);
            }
          }
        }
      }

      .main-container {
        overflow: auto;
        width: 100%;
        padding-left: 30px;

        .latest-work-posted {
          .work-cards {
            display: flex;
            flex-wrap: wrap;
            justify-content: space-between;
            margin-top: 20px;

            .work-card {
              height: 140px;
              width: 420px;
              margin-right: 20px;
              margin-bottom: 20px;
              padding: 20px;
              border-radius: 30px;
              box-shadow: var(--box-shadow);
              background: white;
            }
          }
        }

        &::-webkit-scrollbar {
          width: 5px;
        }

        &::-webkit-scrollbar-thumb {
          background: rgb(124, 185, 197);
          border-radius: 50px;
        }

        &::-webkit-scrollbar-track {
          background: rgb(233, 231, 231);
          border-radius: 50px;
        }
      }
    }
  }
}
