.find-work {
  padding-top: 90px;
  padding-left: 40px;
  padding-right: 40px;
  margin-bottom: 40px;

  .findwork-main-body {
    display: flex;

    .sidebar {
      display: flex;
      flex-direction: column;
      height: calc(100vh - 110px);
      background: white;
      box-shadow: var(--box-shadow);
      border-radius: 40px;
      margin-right: 20px;
      padding: 20px;
      min-width: 340px;
      max-width: 341px;

      .filter {
        text-align: center;
        margin-bottom: 20px;
        font-size: 27px;
        color: var(--primary-color);
      }

      .category-dropdown {
        margin-bottom: 20px;

        select {
          height: 40px;
          width: calc(100% - 40px);
          padding: 10px;
          font-size: 15px;
          cursor: pointer;

          option {
            padding: 5px;
          }
        }
      }

      input[type="text"] {
        font-size: 18px;
        padding: 5px;
        width: 80px;
        outline: 1px solid rgb(131, 123, 123);
        transition: all 0.2s ease;
        margin-bottom: 5px;

        &:focus {
          outline: none;
          box-shadow: 0px 0px 1px var(--main-color);
        }
      }

      .checkbox {
        margin-bottom: 4px;

        input[type="checkbox"] {
          margin-right: 10px;
          font-size: 18px;
          width: 18px;
          height: 18px;
          cursor: pointer;
        }

        label {
          position: absolute;
          height: 30px;
          vertical-align: text-top;
          cursor: pointer;
        }
      }

      .budget-filter {
        margin-bottom: 30px;
      }

      span {
        margin: 20px;
      }

      h1 {
        font-weight: 450;
        font-size: 21px;
        margin-bottom: 20px;
      }

      .filter-btn {
        align-self: center;
        margin-top: auto;
        background: linear-gradient(90deg, #755bea, #ff72c0);
        padding: 10px 30px;
        border-radius: var(--border-radius-big);
        color: white;
        width: max-content;
        cursor: pointer;

        &:hover {
          background: linear-gradient(90deg, #634fbb, #d863a3);
        }
      }
    }

    .user-bid-container {
      display: flex;
      flex-direction: column;
      background: white;
      box-shadow: var(--box-shadow);
      border-radius: 40px;
      padding: 20px;
      margin-bottom: 70px;
      width: calc(100% - 340px);

      .user-bid {
        display: flex;
        background: white;
        margin-bottom: 20px;
        border-radius: 40px;
        box-shadow: var(--box-shadow);
        padding: 20px 40px;

        .bid-left {
          padding-right: 20px;
          overflow-x: auto;
          margin-right: 20px;
          padding-bottom: 10px;

          &::-webkit-scrollbar {
            height: 5px;
          }

          &::-webkit-scrollbar-thumb {
            background: rgb(124, 185, 197);
            border-radius: 50px;
          }

          &::-webkit-scrollbar-track {
            background: rgb(233, 231, 231);
            border-radius: 50px;
          }

          .title {
            font-weight: 500;
            font-size: 20px;
            margin-bottom: 15px;
          }

          .skills {
            margin-top: 20px;
            display: flex;
            flex-wrap: wrap;

            .skill {
              cursor: pointer;
              font-size: 14px;
              margin-right: 20px;
              line-height: 30px;
              width: max-content;
              margin-bottom: 5px;
              padding: 5px 10px;
              border-radius: 15px;
              color: white;
              background: var(--primary-color);
            }
          }
        }

        .bid-right {
          margin-left: auto;

          .range {
            width: max-content;
            margin-bottom: 10px;
          }

          .total-bid {
            margin-bottom: 15px;
          }

          .btn {
            background: linear-gradient(90deg, #755bea, #ff72c0);
            padding: 10px 20px;
            border-radius: var(--border-radius-big);
            color: white;
            transform: scale(0);
            transition: 0.4s ease;
            width: max-content;
            cursor: pointer;

            a {
              &:hover {
                color: white;
              }
            }

            &:hover {
              background: linear-gradient(90deg, #634fbb, #d863a3);
            }
          }
        }

        &:hover .btn {
          transform: scale(1);
        }
      }
    }
  }
}
