.find-talent-container {
  padding-top: 90px;
  padding-left: 40px;
  padding-right: 40px;

  .categories-container {
    
    .categories-slider {
      position: relative;
      min-height: 210px;
      min-width: 100%;
    }
    h1 {
      margin-bottom: 30px;
    }
  }

  .find-talent-post-request {
    margin: 100px 0px;

    h1 {
      margin-top: 20px;
      text-align: center;
    }

    .btn {
      margin-left: auto;
      margin-right: auto;
      margin-top: 20px;
      background: linear-gradient(90deg, #755bea, #ff72c0);
      width: max-content;
      padding: 10px 30px;
      font-size: 20px;
      border-radius: var(--border-radius-big);
      color: white;
      cursor: pointer;

      a {
        &:hover {
          color: white;
        }
      }

      &:hover {
        background: linear-gradient(90deg, #634fbb, #d863a3);
      }
    }
  }

  .recommended-container {
    h1 {
      margin-top: 90px;
    }

  }

  .random-container {
    margin-bottom: 20px;

    h1 {
      margin: 30px 0px;
    }

    .random-card-container {
      display: grid;
      place-items: center;
      grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
      grid-column-gap: 20px;
      grid-row-gap: 20px;
    }
  }
}
