.find-talent-container {
  padding-top: 90px;
  padding-left: 40px;
  padding-right: 40px;

  .categories-container {
    h1 {
      margin-bottom: 30px;
    }

    .categories-slider {

    }
  }

  .recommended-container {
    h1 {
      margin-top: 30px;

    }

    .recommended-slider {
    }
  }

  .random-container {
    margin-bottom: 20px;
    
    h1 {
      margin: 30px 0px;
    }

    .random-card-container {
      display: grid;
      place-items: center;
      grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
      grid-column-gap: 20px;
      grid-row-gap: 20px;
    }
  }
}
