*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    -webkit-tap-highlight-color: transparent;
}

body {
    font-family: "Roboto", sans-serif;
    -webkit-font-smoothing : antialised;
    -moz-osx-font-smoothing: grayscale;
    letter-spacing: 0.7px;
}

body::-webkit-scrollbar {
    width: 10px;
  }

body::-webkit-scrollbar-thumb {
    background: rgb(124, 185, 197);
    border-radius: 50px;
  }

body::-webkit-scrollbar-track {
    background: rgb(233, 231, 231);
    border-radius: 50px;
  }

a {
    text-decoration: none;
    color: unset;
}

a:hover {
    color: var(--main-color);
}

button {
    cursor: pointer;
    border: 0;
    outline: 0;
    color: var(--txt-color);
}

ul {
    list-style-type: none;
}

input {
    border: 2px solid transparent;
    outline: 0;
}
