.base-container {
    background: url(../../assets/images/lightBg.jpg);
    background-size: cover;
    // background-size: contain;
    background-repeat: no-repeat;
    height: calc(100vh - 100px);

    .container {
        height: 80%;
        min-height: 600px;
        width: 65%;
        margin: auto;
        margin-top: 100px;
        display: flex;
        flex-direction: row;
        background: white;
        // background-image: '';

        box-shadow: var(--box-shadow);
        border-radius: 40px;
        // padding: 20px;

        .sidebar {
            min-height: 100%;
            border-right: solid rgb(241, 241, 241);
            padding: 30px 0;
            display: flex;
            flex-direction: column;
            // align-items: center;
            border-radius: 40px;
            min-width: 30%;
            box-shadow: var(--box-shadow);

            li {
                border-left: solid medium rgb(203, 202, 202);
                margin-left: 2px;
                padding: 20px 0;
                padding-left: 20px;

                &:hover {
                    background-color: rgb(243, 243, 243);
                    cursor: pointer;
                    border-left: solid medium black;
                }

                Link {
                    &:hover {
                        color: black;
                    }
                }


            }

            .active {
                background-color: rgb(243, 243, 243);
                border-left: solid medium black;
            }
        }


        .edit-component {
            display: flex;
            justify-content: center;
            // align-items: center;
            margin-top: 50px;
            width: 100%;
        }

    }
}