.client-project-progress {
  padding-top: 90px;
  padding-left: 40px;
  padding-right: 40px;

  .bid-info-container {
    background-color: white;
    border-radius: 30px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
    padding: 20px;
    margin-bottom: 30px;
    margin-top: 20px;
    .client-profile {
      display: flex;
      .user-img {
        width: 45px;
        height: 45px;
        img {
          width: 100%;
          height: 100%;
          border-radius: 50%;
          cursor: pointer;
        }
      }

      .title {
        margin-top: auto;
        margin-bottom: auto;
        margin-left: 30px;
        font-size: 30px;
        font-weight: 800;
      }
    }

    .desc {
      margin: 20px 0px;
      overflow: auto;

      &::-webkit-scrollbar {
        height: 5px;
      }

      &::-webkit-scrollbar-thumb {
        background: rgb(124, 185, 197);
        border-radius: 50px;
      }

      &::-webkit-scrollbar-track {
        background: rgb(233, 231, 231);
        border-radius: 50px;
      }
    }

    .skills {
      margin-top: 20px;
      display: flex;
      flex-wrap: wrap;

      .skill {
        cursor: pointer;
        font-size: 14px;
        margin-right: 20px;
        line-height: 30px;
        width: max-content;
        margin-bottom: 5px;
        padding: 5px 10px;
        border-radius: 15px;
        color: white;
        background: var(--primary-color);
      }
    }

    .bid-freelancer-info {
      margin-top: 20px;
      background: white;
      box-shadow: var(--box-shadow);
      padding: 20px;
      border-radius: 30px;
      width: max-content;

      .user-img-name {
        display: flex;
        align-items: center;

        .left {
          display: flex;
          align-items: center;

          img {
            margin-right: 30px;
            width: 60px;
            height: 60px;
            border-radius: 50%;
          }

          .name {
            font-size: 24px;
            font-weight: 700;
          }
        }

        .status {
          margin-left: auto;
          padding: 10px 20px;
          background: rgb(65, 165, 65);
          color: white;
          border-radius: 20px;
        }
      }

      .btn-container {
        display: flex;
        justify-content: center;
      }
    }

    .budget {
      margin-top: 20px;
      font-size: 20px;
      margin-left: 4px;
      span {
        font-weight: 500;
        color: green;
      }
    }

    .btn {
      margin-top: 20px;
      margin-bottom: 10px;
      background: linear-gradient(90deg, #755bea, #ff72c0);
      padding: 10px 20px;
      border-radius: var(--border-radius-big);
      color: white;
      width: max-content;
      height: max-content;
      margin-right: 20px;
      cursor: pointer;

      &:hover {
        background: linear-gradient(90deg, #634fbb, #d863a3);
      }

      &:last-child {
        margin-right: 0;
      }
    }
  }
}
