.header {
  height: 100vh;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  width: 100%;
  padding: 0px 40px;
  overflow: hidden;
  background: white;
  background: url(../../assets/images/bgIMG.png);
  // border: 2px solid red;

  .header-left {
    width: 40%;
    height: calc(100% - var(--navbar-height));
    margin-top: var(--navbar-height);
    // border: 2px solid red;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-right: 20px;

    .header-left-heading {
      font-size: 50px;
      display: flex;
      flex-direction: column;

      span {
        font-weight: bolder;
        color: rgb(63, 153, 123);
      }
    }

    .header-content-desc {
      margin-top: 20px;
      font-size: 25px;
    }

    .header-buttons {
      margin-top: 50px;

      .btn {
        cursor: pointer;
        padding: 10px 30px;
        border-radius: var(--border-radius-big);
        font-size: 20px;
        width: max-content;
      }

      .button1 {
        margin-right: 20px;
        margin-bottom: 10px;
        background: linear-gradient(90deg, #755bea, #ff72c0);
        color: white;

        &:hover {
          background: linear-gradient(90deg, #634fbb, #d863a3);
        }
      }

      .button2 {
        background: var(--main-bg);
        font-size: 20px;
        color: black;
        position: relative;
        overflow: hidden;
        outline: 2px solid black;
        transition: 0.3s ease-out;
        z-index: 1;

        &:hover {
          background: rgb(241, 237, 237);
        }
      }
    }
    @media screen and (max-width: 800px) {
      width: 100%;
    }
  }

  .header-right {
    margin-left: auto;
    width: 60%;
    min-width: max-content;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    height: calc(100% - var(--navbar-height));
    margin-top: var(--navbar-height);
    // border: 2px solid red;

    .freelance-img {
      position: relative;
      height: 100%;
      display: flex;
      //   border: 2px solid red;

      .freelance-man-img {
        height: 100%;
        z-index: 3;
      }

      .overlay_circle {
        position: absolute;
        bottom: 0;
        left: 0;
        z-index: 2;
        height: 80%;
      }

      .box-left-mid {
        padding: 10px 20px;
        width: 200px;
        position: absolute;
        top: 40%;
        left: -30%;
        border-radius: 20px;
        background: white;
        box-shadow: var(--box-shadow);
        z-index: 4;
        transform-style: preserve-3d;
        transform: perspective(200px);

        @media screen and (max-width: 1350px) {
            display: none;
        }
      }

      .box-right-top {
        padding: 10px 20px;
        width: 200px;
        position: absolute;
        top: 20%;
        right: -14%;
        border-radius: 20px;
        background: white;
        box-shadow: var(--box-shadow);
        z-index: 4;

        @media screen and (max-width: 1200px) {
            display: none;
        }
      }

      .box-right-bottom {
        padding: 10px 20px;
        width: 200px;
        position: absolute;
        bottom: 9%;
        right: -10%;
        border-radius: 20px;
        background: white;
        z-index: 4;
        box-shadow: var(--box-shadow);

        @media screen and (max-width: 1200px) {
            display: none;
        }
      }
    }
    @media screen and (max-width: 800px) {
      display: none;
    }
  }
}
