.linear-stepper {
    .MuiFormControl-root {
        margin-bottom: 20px;
    }
    .multiselect-container {
        margin-top: 20px;
        &:last-child {
            margin-bottom: 20px;
        }
    }
}