.all-works-container {
  padding-top: 90px;
  padding-left: 40px;
  padding-right: 40px;

  .work-cards {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-top: 20px;
    margin-bottom: 40px;

    .no-works {
      height: 60vh;
      display: grid;
      place-items: center;
      font-size: 27px;
      font-weight: 700;
      width: 100%;
    }

    .work-card {
      margin-bottom: 20px;
      width: 450px;
      height: 300px;
      padding: 20px;
      border-radius: 20px;
      box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);

      .title {
        font-size: 25px;
      }

      .desc {
        margin-top: 10px;
        margin-bottom: 20px;
        max-height: 150px;
        min-height: 149px;
        overflow: auto;

        &::-webkit-scrollbar {
          width: 8px;
        }

        &::-webkit-scrollbar-thumb {
          background: rgb(124, 185, 197);
          border-radius: 50px;
        }

        &::-webkit-scrollbar-track {
          background: rgb(233, 231, 231);
          border-radius: 50px;
        }
      }

      .btn-container {
        display: flex;
        justify-content: space-around;

        .btn {
          background: linear-gradient(90deg, #755bea, #ff72c0);
          width: max-content;
          padding: 10px 20px;
          border-radius: var(--border-radius-big);
          color: white;
          cursor: pointer;

          a {
            &:hover {
              color: white;
            }
          }

          &:hover {
            background: linear-gradient(90deg, #634fbb, #d863a3);
          }
        }

        .status {
          padding: 10px 20px;
          min-width: max-content;
          min-height: max-content;
          border-radius: 20px;

          &.progress {
            background: rgb(66, 134, 133);
            color: white;
          }

          &.done {
            background: rgb(88, 155, 93);
            color: white;
          }
        }
      }
    }
  }
}
